.attraction .links {
  clear: both;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  list-style: none;
  margin: 0;
}

.attraction ul.social li {
  display: inline-block;
  padding: 0 0.25em 0 0;
}

.attraction img {
  max-width: 300px;
}

.attraction iframe {
  width: 100%;
  height: 315px;
}

// Attractions Category Listing

.category-archive-meta {
  padding: 1em 1.625em;
}

.category-listing {
  list-style-type: none;
  margin: 0;
  text-align: center;
  width: 100%;
}

.attraction-thumbnail {
  @box-shadow(3px, 3px, 3px, #222);
  border-radius: 6px;
  background: #666;
  background-size: 100% 100%;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 10em;
  margin: 0 1% 1% 0;
  opacity: 0.7;
  overflow: hidden;
  position: relative;
  width: 10em;
}

.attraction-thumbnail {
  @box-shadow(3px, 3px, 3px, #222);
  border-radius: 6px;
  background: #666;
  background-size: 100% 100%;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 10em;
  margin: 0 1% 1% 0;
  opacity: 0.7;
  overflow: hidden;
  position: relative;
  width: 10em;
  &:hover {
    opacity: 1;
  }
}

.attraction-thumbnail:nth-child(3n+3) {
  margin-right: 0;
}

.attraction-title,
.attraction-subhead {
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px black;
  text-transform: uppercase;
  
}

.attraction-title {
  padding: 1em 0.5em 0 0.5em;
  font-size: 1.125em;
  line-height: 125%;
}

.attraction-subhead {
  font-size: 0.9em;
}

/* Attraction Filters. */

.attraction-filters {
  padding: 1em;
}

.attraction-filters label {
  display: block;
  font-weight: bold;
  select {
    display: block;
    width: 100%;
  }
}
