/* FOR JME Theme */

h1 {
  font-size: 1.75em;
}
.entry-content h2 {
  font-size: 1.625em;
}

.entry-content h3 {
  font-size: 1.5em;
}

.entry-content h4 {
  font-size: 1.25em;
}

#secondary .widget-title {
  display: none;
}

#copyright {
  font-size: 13px;
  padding: 0.5em 1em;
  text-align: center;
}

.error404 .widgettitle {
  display: none;
}

.error404 li {
  list-style-type: none;
}

.category-archive-meta {
  padding: 1em 1.625em;
}