/* FOR JME Theme */

p {
  margin-bottom: 0.8125em;
  margin-top: 0.8125em;
}

.entry-content h1 {
  font-size: 1.75em;
}
.entry-content h2 {
  font-size: 1.625em;
}

.entry-content h3 {
  font-size: 1.5em;  
  line-height: 1.25em;
}

#secondary .widget-title {
  display: none;
}

#copyright {
  font-size: 13px;
  text-align: center;
}

.page-header {
  padding-bottom: 1em;
}

.error404 .widgettitle {
  display: none;
}

.error404 li {
  list-style-type: none;
}