div.ss-form-container {
  font-family: inherit;
}

div.ss-required-asterisk {
  display: none;
}

div.ss-form-entry {
  padding-bottom: 1.5em;
}

div.ss-form-desc {
  font-style: oblique;
  padding-bottom: 1em;
}

div.ss-form-entry input[type="text"], 
div.ss-form-entry textarea {  
  width: 100%;
}

.ss-q-title {
  font-weight: bold;
}

#ss-form ol {
  margin-left: 0;
}

.ss-form .entry-content table,
.ss-form .entry-content td {
  border-top-width: 0;
  border-bottom-width: 0;
}


