
/* =Header
----------------------------------------------- */

#branding {
  padding-bottom: 10px;
  position: relative;
  z-index: 9999;
}
#site-title {
  margin-right: 270px;
  padding: 3.65625em 0 0;
}
#site-title a {
  color: #111;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
  color: #1982d1;
}
#site-description {
  color: #7a7a7a;
  font-size: 14px;
  margin: 0 270px 3.65625em 0;
}
#branding img {
  height: auto;
  display: block;
  width: 100%;
}

/* Search Form */
#branding #searchform {
  position: absolute;
  top: 3.8em;
  right: 7.6%;
  text-align: right;
}
#branding #searchform div {
  margin: 0;
}
#branding #s {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 72px;
}
#branding #s:focus {
  background-color: #f9f9f9;
  width: 196px;
}
#branding #searchsubmit {
  display: none;
}
#branding .only-search #searchform {
  top: 5px;
  z-index: 1;
}
#branding .only-search #s {
  background-color: #666;
  border-color: #000;
  color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
  width: 85%;
}
#branding .only-search #s:focus {
  background-color: #bbb;
}
#branding .with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}
#branding .only-search + #access div {
  padding-right: 205px;
}

.widget_search form input#s {
  background-color: #999;
  color: #eee;
}