
@import 'mixins';

header#branding {
  padding-bottom: 10px;
  img {
    height: auto;
    display: block;
    width: 100%;
  }
  h1, h2 {
    position:absolute;
    z-index: 1;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
}

// Corner ribbons

.ribbon-wrapper {
  position: relative;
  z-index: 90;
}

.corner-ribbon{
  @include rotate(45deg);
  width: 20em;
  background: #e43;
  position: absolute;
  top: 5em;
  left: -5em;
  text-align: center;
  line-height: 3.25em;
  letter-spacing: 1px;
  color: #f0f0f0;


  &.top-right  {
    top: 4em;
    right:-6em;
    left: auto;
    @include rotate(45deg);
  }
  a {
    color: white;
  }
}

.corner-ribbon.shadow{
  box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

/* Attraction Filters. */

.attraction-filters {
  padding: 1em;
}

.attraction-filters label {
  display: block;
}