
/* Images */
.entry-content img,
.widget img {
  max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
  max-width: 97.5%;
  width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 1.625em;
}
p img,
.wp-caption {
  margin-top: 0.4em;
}

.wp-caption img {
  display: block;
  margin: -2px 0 0 -2px;
  max-width: 98%;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  color: #666;
  font-size: 12px;
}

#content .gallery {
  margin: 0 auto 1.625em;
}
#content .gallery a img {
  border: none;
}
img#wpstats {
  display: block;
  margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item {
  width: 23%;
  padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
  width: 100%;
  height: auto;
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
  max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* =Media
-------------------------------------------------------------- */

audio,
video {
  display: inline-block;
  max-width: 100%;
}

.attachment .entry-content .mejs-container {
  margin-bottom: 24px;
}