/* Social Icons
------------------------------------------------------------ */
 
.social {
  margin: 0;
}

.social li {
  border-bottom: none !important;
  float: left;
  list-style-type: none !important;
  padding-right: 0.5em;
}
 
.social li a {
  background: url('images/social/social-icons.png');
  display: inline-block;
  height: 23px;
  text-indent: -9999px;
  overflow: hidden;
  width: 23px;
}
 
.social .web {
  background: #777;
  color: white;
  font-weight: bold;
  padding: 0 1em;
  text-indent: 0;  
  text-transform: uppercase;
  width: auto;
}

.social .web:hover {
  background: #333;
  a:hover {
    text-decoration: none;
  }
}

.social .tw{
  background-position: 0 0;
}
 
.social .tw:hover{
  background-position: 0 -23px;
}

.social .fb{
  background-position: -23px 0;
}
 
.social .fb:hover{
  background-position: -23px -23px;
}
 
.social .rss{
  background-position: -46px 0;
}
 
.social .rss:hover{
  background-position: -46px -23px;
}
 
.social .plus{
  background-position: -69px 0;
}
 
.social .plus:hover{
  background-position: -69px -69px;
}

.social .reverb {
  background-position: -91px 0;
}

.social .reverb:hover {
  background-position: -91px -23px;
}

.social .pinterest {
  background-position: -114px 0;
}

.social .pinterest:hover {
  background-position: -114px -23px;
}

.social .tumblr{
  background-position: 0 -46px;
}
 
.social .tumblr:hover{
  background-position: 0 -69px;
}

.social .etsy{
  background-position: -23px -46px;
}
 
.social .etsy:hover{
  background-position: -23px -69px;
}

.social .bandcamp {
  background-position: -46px -46px;
}

.social .bandcamp:hover {
  background-position: -46px -69px;
}

.social .deviantart {
  background-position: -69px -46px;
}

.social .deviantart:hover {
  background-position: -69px -69px;
}

.social .instagram {
  background-position: -91px -46px;
}

.social .instagram:hover {
  background-position: -91px -69px;
}

.attraction .social li {
  padding-right: 0.5em;  
}

// footer 

footer .social {
  display: inline-block;
  text-align: center;
}

// hack for attraction compatibility
.attraction .social li:after {
  content: '';
}