/* Font stack */

@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic,600,600italic");

body {
  font-family: 'Crimson Text', Georgia, serif;
}

#access ul a {
  font-weight: bold;
  font-size: 1.25em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3, 
.entry-content h4, 
.entry-content h5, 
.entry-content h6 {
  font-family: 'Crimson Text', Georgia, serif;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 100%;
  text-transform: none;
}

.entry-title,
.page-title {
  color: black;
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 100%;
}

.category .entry-title {
   font-family: 'Crimson Text', Georgia, serif;
   font-size: 1.5em;
}